<form action="/users" method="POST">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="user_name">User Name</label>
  <input id="user_name" name="user[user_name]" type="text">
  <br>

  <label for="user_password">Password</label>
  <input id="user_password" name="user[password]" type="password">
  <br>

  <input type="submit" value="CREATE!">
</form>