<form action="<%= cat_rental_requests_path %>" method="POST">


  <label for="cat_color">Cat</label>
  <select name="rental_requests[cat_id]">
    <% Cat.all.each do |cat| %>
      <option value="<%=cat.id%>"><%=cat.name.upcase%></option>
    <% end %>
   </select>
  <p>

  <label for="request_start_date">Start Date</label>
  <input type="date" id="request_start_date" name="rental_requests[start_date]">
  <p>

  <label for="request_end_date">End Date</label>
  <input type="date" id="request_end_date" name="rental_requests[end_date]">
  <p>

  <input type="submit" value="REQUEST!">

</form>