<% action_url = (@cat.persisted? ? cat_url(@cat) : cats_url) %>
<% method = (@cat.persisted? ? :put : :post) %>
<% action = (@cat.persisted? ? "EDIT!" : "MAKE!") %>

<form action="<%= action_url %>" method="POST">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <input type="hidden" name="_method" value="<%= method %>">


  <label for="cat_name">Name</label>
  <input type="text" id="cat_name" name="cat[name]" value="<%= @cat.name %>">
  <br>

  <label for="cat_age">Age</label>
  <input type="text" id="cat_age" name="cat[age]" value="<%= @cat.age %>">
  <br>

  <label for="cat_birth_date">Birth Date</label>
  <input type="date" id="cat_birth_date" name="cat[birth_date]" value="<%= @cat.birth_date %>">
  <br>

  <input type="radio" id="cat_sex_m" name="cat[sex]" value="m"
  <%= @cat.sex == "m" ? "checked" : "" %> >
  <label>Male</label>

  <input type="radio" id="cat_sex_f" name="cat[sex]" value="f"
    <%= @cat.sex == "f" ? "checked" : "" %> >
  <label>Female</label>
  <br>

  <label for="cat_color">Color</label>
  <select name="cat[color]">
    <% Cat::COLORS.each do |color| %>
      <option value="<%=color%>"
        <%= @cat.color == color ? "selected" : "" %> > <%=color.upcase%>
      </options>
    <% end %>
 </select>

  <input type="submit" value="<%= action %>">
</form>