<table>
  <tr>
    <th> Name </th>
    <th> Age </th>
    <th> Color </th>
    <th> Sex </th>
    <th> Birth Date </th>
  </tr>
  <tr>
    <td> <%=@cat.name%> </td>
    <td> <%=@cat.age%> </td>
    <td> <%=@cat.color%> </td>
    <td> <%=@cat.sex%> </td>
    <td> <%=@cat.birth_date%> </td>
  </tr>
</table>
<p>

<table>
  <tr>
    <td>Start Date</td>
    <td>End Date</td>
    <td>Status</td>
  </tr>

  <% @cat.rental_requests.order('start_date').each do |req| %>
    <tr>
      <td><%= req.start_date %></td>
      <td><%= req.end_date %></td>
      <td><%= req.status %></td>
      <td><%= button_to "Accept", accept_cat_rental_request_url(req) %> </td>
      <td><%= button_to "Deny", deny_cat_rental_request_url(req) %> </td>
    </tr>
  <% end %>
</table>

<%= link_to "Request rental", new_cat_rental_request_url(cat:@cat)%>