<!DOCTYPE html>
<html>
<head>
  <title>NinetyCats</title>
  <%#= stylesheet_link_tag    "application", :media => "all" %>
  <%#= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= link_to "Home", :root, :method =>:get%>

  <% if current_user.nil? %>
    <%= button_to "Log in", new_sessions_url, :method => "get" %>
  <% else %>
    <%= link_to current_user.user_name, user_url(current_user), :method => :get%>
    <%= button_to "Log Out", sessions_url, :method => "delete" %>

  <%= link_to "List Cat", new_cat_url, :method => :get %>
<% end %>
<%= yield %>

</body>
</html>
